.navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filterOrder {
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    background-color: gray;
    cursor: pointer;
    transition: border-color 0.25s;
}
.filterOrder:hover{
    border-color: blue;
}

.btnToForm {
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    background-color: gray;
    cursor: pointer;
    transition: border-color 0.25s;
}
.btnToForm:hover{
    border-color: purple;
}

.btnClose {
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    background-color: gray;
    cursor: pointer;
    transition: border-color 0.25s;
}
.btnClose:hover{
    border-color: red;
}

.oNormal {
    background-color: rgb(187, 172, 172);
}

.oGrass {
    background-color: green;
    color: white;
}

.oFire {
    background-color: red;
    color: white;
}

.oWater {
    background-color: rgb(50, 50, 240);
    color: white;
}

.oBug {
    background-color: lawngreen;
}

.oPoison {
    background-color: blueviolet;
    color: white;
}

.oElectric {
    background-color: yellow;
}

.oRock {
    background-color: rgb(189, 121, 57);
}

.oGround {
    background-color: rgb(189, 165, 57);
}

.oPsychic {
    background-color: rgb(231, 21, 91);
    color: white;
}

.oFighting {
    background-color: rgb(185, 50, 1);
    color: white;
}

.oDark {
    background-color: rgb(32, 20, 20);
    color: white;
}

.oFlying {
    background-color: rgb(113, 113, 238);
    color: white;
}

.oGhost {
    background-color: rgb(75, 17, 129);
    color: white;
}

.oIce {
    background-color: aqua;
}

.oSteel {
    background-color: gray;
}

.oDragon {
    background-color: rgb(59, 32, 122);
    color: white;
}

.oFairy {
    background-color: rgb(230, 110, 150);
}

.oUnknown {
    background-color: rgb(54, 52, 52);
    color: white;
}

.oShadow {
    background-color: black;
    color: white;
}

.oHP {
    background-color: green;
    color: white;
}

.oAtk {
    background-color: red;
    color: white;
}

.oDef {
    background-color: yellow;
}

.oSpcAtk {
    background-color: orangered;
}

.oSpcDef {
    background-color: greenyellow;
}

.oSpeed {
    background-color: blue;
    color: white;
}