.searchBar {
    display: flex;
    align-items: center;
}

.searchInput {
    border-radius: 10px;
    border: 2px solid gray;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    background-color: white;
    transition: border-color 0.25s;
}
.searchInput:hover{
    border-color: blue;
}

.btnSearch {
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    background-color: gray;
    cursor: pointer;
    transition: border-color 0.25s;
}
.btnSearch:hover{
    border-color: blue;
}